@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;

  font-family: 'Questrial', sans-serif;
}

body{
	margin: 0;
}

body a{
	color: #fff
}

header{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding-top: 1rem;
	margin-bottom: 1rem;
}

header img{
	width: 5rem;
	display: block;
	margin: 0 auto;
}

h1{
	font-size: 3rem;
}

header nav ol{
	padding: 0;
	margin: 0;
}


header nav li{
	display: inline-block;
	width: 33%;
}

header nav li:hover{
		background-color: #666;
}

header nav li a{
		padding: .5em;
		display: block;
		text-decoration: none;
		color: #fff;
}

@media only screen and (min-width: 48em){

	header img{
		display: inline-block;
		margin: 0 1em;

	}

	h1{
		display: inline-block;
	}

	header nav li{
		width: 15%;
		max-width: 5em;
		float: right;
		margin-top: 54px;
	}

	.float-left{
		float: left;
	}

	header{
		overflow: hidden;
	}

}


@media only screen and (min-width: 90em){

	header img{
		display: block;
		margin: 0 1rem 0.5rem 0;
	}

	h1{
		display: block;
		width: 30rem;
		margin: 0 auto;
		text-align: left;
	}

	.float-left{
		float: none;
		display: block;
		width: 14.5rem;
		margin: 0 auto;
	}

	header{
		position: relative;
		padding: 5rem 0;
	}

	header nav ol{
		position: absolute;
		top: 22%;
		right: calc(50% - 7.5rem);
		line-height: .67rem;

	}

	header nav li{
		display: block;
		float: none;
		margin: 0;
	}

}

/* General Styles (typography) */

p{
	margin: 0;
	padding-bottom: 1.3rem;
}


h2{
	font-size: 2rem;
	display: block;
	background-color: #000;
	padding: .65rem;
	color: #fff;
	text-align: center;
	margin: 1.3rem 0 0 0;
}

h3{
	padding-top: 1.3rem;
}

@media only screen and (min-width: 48em){

	h2{
		font-size: 2.5rem;
		padding: 1.4rem;
		text-align: left;
		width: calc(50% - 1.4rem);
	}

}

@media only screen and (min-width: 90em){

	h2{
		width: 40rem;
	}

}

/* ABOUT section */

#about{
	background-color: whitesmoke;
	overflow: hidden;
	}

/* SKILLS section */

#skills{
	background-color: lightgrey;
	margin: 0;
	padding-top: .65rem;
}

#skills ol{
	margin: 0;
	list-style-type: none;
	padding: .65rem;
}

#skills ol li{
	margin: .65rem 0;
	font-size: 1.5rem;
	background-color: #fff;
	list-style-type: square;
	text-align: center;
	padding-bottom: 1.3rem;
}

#skills ul li{
	padding: 0;
	font-size: 1rem;
	text-align: left;

}

/* CONTACT section */

#contact p{
	padding-top: 1.3rem;
}

.mailto{
	display: block;
	color: #666;
	background-color: #fff;
	padding: .65rem;
	width: calc(100% - 1.5rem);
	max-width: 23.5rem;
	margin: 0 auto;
}

section#contact{
	background-color: #666;
	overflow: hidden;
	color: white;
	text-align: center;
}




section#contact img{
	width: 33%;
	float: left;
	padding: .65rem;
}


section#contact nav{
	display: block;
	width: 100%;
	max-width: 25rem;
	padding: .65rem 0;
	margin: 0 auto;
	padding-bottom: 1.3rem;
	overflow: hidden;

}




@media only screen and (min-width: 48em) {


	section#contact img{
		float: none;
		width: 16%;
		max-width: 7rem;

	}

	section#contact nav{
		
	
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}



}

@media only screen and (min-width: 90em){

	section#contact img{
		width: 14%;
		margin: .65rem;
		box-shadow: #000 0 0;
	}

	section#contact nav{
		width: 66%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

}



/*  FOOTER */


footer{
	background-color: #000;
}

footer img{
	display: block;
	width: 30%;
	max-width: 5rem;
	margin: 0 auto;
	padding: 3rem 0;
}


	

